

@font-face {
    src: url(fonts/roboto/Roboto-Light.ttf);
    font-family: "roboto";
    font-weight: 400;
}


body {
    margin: 0;
    font-family: "roboto";
    font-weight: bold;
}

.main__slider {
    display: flex;
    align-items: center;
    height: 97vh;
}

.slider {
    position: relative;
    display: flex;
    width: 1300px;
    height: 500px;
    align-items: center;
    margin: auto;
    background-color: grey;
    overflow: hidden;
}

img {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
}

.counter {
    display: flex;
    position: relative;
    color: rgb(150, 150, 150);
    align-self: flex-start;
    margin: 5px
}

.arrow {
    color: rgb(240, 240, 240);
}

.arrow:hover {
    cursor: pointer;
}

.left {
    display: flex;
    position: absolute;
    left: 10px;
}

.right {
    display: flex;
    position: absolute;
    right: 10px;
}

.information {
    display: flex;
    position: relative; /*Csak akkor látszódik a kép felett ha relative, vagy absolute a position*/
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    align-self: flex-end;
    color: rgb(180, 180, 180);
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
}

.dots {
    margin: auto;
}

.dot {
    margin: 1px;
    color: rgb(170, 170, 170);
}

.dot:hover {
    color: rgb(100, 100, 100);
    cursor: pointer;
}