@font-face {
    src: url(fonts/roboto/Roboto-Light.ttf);
    font-family: "roboto";
    font-weight: 400;
}

body {
    
    margin: 0;
    font-family: "roboto";
    font-weight: bold;
}

.section__slider {
    display: flex;
    align-items: center;
    height: 97vh;
}





/*Slider-box*/
.slider {
    position: relative;
    display: flex;
    width: 1300px;
    height: 500px;
    align-items: center;
    margin: auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}

@media screen and (max-width: 762px) {
    .slider {
        height: 265px;
    }
}





/*Image*/
img {
    position: absolute;
    max-width: 100%;
    top: 0;
    right: 0;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}




/*Counter*/
.counter {
    display: flex;
    position: relative;
    color: rgb(150, 150, 150);
    align-self: flex-start;
    margin: 5px
}




/*Arrows*/
.arrow {
    color: rgb(240, 240, 240);
}

.arrow:hover {
    cursor: pointer;
}

.left {
    display: flex;
    position: absolute;
    left: 10px;
}

.right {
    display: flex;
    position: absolute;
    right: 10px;
}



/*Text*/
.information {
    display: flex;
    position: relative;
    /*Csak akkor látszódik a kép felett ha relative, vagy absolute a position*/
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 9px white;
}





/*Dots*/
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    font-size: larger;
}

.dot {
    margin: 3px;
    color: rgb(170, 170, 170);
    
}

.active {
    color: rgb(100, 100, 100);
}

.dot:hover {
    color: rgb(100, 100, 100);
    cursor: pointer;
}